# Python
__pycache__/
*.py[cod]

# Entornos virtuales
venv/
env/

# Datos y Modelos (pueden ser muy grandes para GitHub)
docs/logs_partidas/*.pgn
docs/partidas_descargadas/*.pgn
models/checkpoint/

# Sistema
.DS_Store

df